commands:
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_post.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      set -e
      source /opt/elasticbeanstalk/support/envvars
      cd /var/app/current
      find . -type f -exec chmod 664 {} +
      find . -type d -exec chmod 775 {} +
      chmod 660 wp-config.php

      /home/ec2-user/reapply_configuration.sh
  "/opt/elasticbeanstalk/hooks/configdeploy/enact/00_php.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      #
      # Executed per ElasticBeanstalk re-config (environment variables)
      #
      set -xev
      source /opt/elasticbeanstalk/support/envvars

      /home/ec2-user/reapply_configuration.sh
  "/home/ec2-user/reapply_configuration.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      set -xev
      source /opt/elasticbeanstalk/support/envvars
      
      #
      # Used for initial deploy and re-apply of configs
      #

      # Link wp-content to efs, supporting multiple websites on same efs mount
      rm -rf /var/app/current/wp-content
      ln -s /mnt/efs/$SITE_NAME/wp-content /var/app/current/wp-content

      # Supported php.ini customizations
      sed -i "s/upload_max_filesize = .*/upload_max_filesize = ${PHP_UPLOAD_MAX_FILESIZE}/g" /etc/php.ini
  "/home/ec2-user/container_commands.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      set -xev
      mkdir -p /mnt/efs
      wpcontent_exists=$(cat /etc/fstab | grep 'wp-content' &>/dev/null; echo $?)
      if [ $wpcontent_exists -gt 0 ]
      then
        echo "$(curl -s http://169.254.169.254/latest/meta-data/placement/availability-zone).$WPCONTENT_EFS_DNS_NAME.efs.us-west-2.amazonaws.com:/ /mnt/efs nfs" | tee -a /etc/fstab

        mount_exists=$(grep -qs '/mnt/efs' /proc/mounts; echo $?)
        if [ $mount_exists -gt 0 ]
        then
          mount /mnt/efs
        fi
      fi
container_commands:
  container_commands:
    command: /home/ec2-user/container_commands.sh