commands:
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_symlink_wpcontent_nfs.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      set -e
      source /opt/elasticbeanstalk/support/envvars
      rm -rf /var/app/current/wp-content
      ln -s /mnt/efs/$SITE_NAME/wp-content /var/app/current/wp-content
      cd /var/app/current
      find . -type f -exec chmod 664 {} +
      find . -type d -exec chmod 775 {} +
      chmod 660 wp-config.php
  "/home/ec2-user/container_commands.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      set -e
      mkdir -p /mnt/efs
      wpcontent_exists=$(cat /etc/fstab | grep 'wp-content' &>/dev/null; echo $?)
      if [ $wpcontent_exists -gt 0 ]
      then
        echo "$(curl -s http://169.254.169.254/latest/meta-data/placement/availability-zone).$WPCONTENT_EFS_DNS_NAME.efs.us-west-2.amazonaws.com:/ /mnt/efs nfs" | tee -a /etc/fstab

        if ! grep -qs '/mnt/efs' /proc/mounts
        then
          mount /mnt/efs
        fi
      fi
container_commands:
  container_commands:
    command: /home/ec2-user/container_commands.sh