option_settings:
      - namespace: aws:elasticbeanstalk:application:environment
        option_name: AUTH_KEY
        value: '{0}'
      - namespace: aws:elasticbeanstalk:application:environment
        option_name: SECURE_AUTH_KEY
        value: '{1}'
      - namespace: aws:elasticbeanstalk:application:environment
        option_name: LOGGED_IN_KEY
        value: '{2}'
      - namespace: aws:elasticbeanstalk:application:environment
        option_name: NONCE_KEY
        value: '{3}'
      - namespace: aws:elasticbeanstalk:application:environment
        option_name: AUTH_SALT
        value: '{4}'
      - namespace: aws:elasticbeanstalk:application:environment
        option_name: SECURE_AUTH_SALT
        value: '{5}'
      - namespace: aws:elasticbeanstalk:application:environment
        option_name: LOGGED_IN_SALT
        value: '{6}'
      - namespace: aws:elasticbeanstalk:application:environment
        option_name: NONCE_SALT
        value: '{7}'